<footer>
	<div class="wrapper">
		<app-button-with-icon
			name='mail'
			text='stroika.help@tatar.ru'
		>
		</app-button-with-icon>
		<app-button-with-icon
			name='call'
			text='+7 (843) 525-70-31'
		>
		</app-button-with-icon>
	</div>
</footer>
