@import "../../styles/mixins"

\:host
	display: block
	background: $c-white
	height: 56px
	padding: 17px 0

.wrapper
	display: flex
	flex-direction: row
	column-gap: 32px
	max-width: 1180px
	margin: 0 auto
