<form [formGroup]="form" class="form"
	  *ngIf="form">
	<div [formArrayName]="'cardsLand'"
		 *ngFor="let card of getCardsLandInfo()['controls']; let i = index">

		<app-card-land-plot
			[numberLP]="i"
			[formGroupName]="i"
		>
		</app-card-land-plot>


		<app-button-with-icon
			name = 'minus'
			text='Удалить'
			status='THIRTY'
			(click)="deleteCardLand(i)"
		></app-button-with-icon>
	</div>

	<app-button-with-icon
		name = 'plus'
		text = 'Добавить'
		status = 'THIRTY'
		(click)= "addCardLand()"
	></app-button-with-icon>
</form>
