<div class="wrapper--links">
  <a
    routerLink=""
    class="link"
    routerLinkActive="link--active"
    [routerLinkActiveOptions] = "{exact: true}">Главная</a>
  <a
    routerLink="profile"
    class="link"
    routerLinkActive="link--active"
    [routerLinkActiveOptions] = "{exact: true}"
  >Профиль</a>
  <a
    routerLink="admin_page"
    class="link"
    routerLinkActive="link--active">Страница для админов</a>
  <a
    routerLink="user_page"
    class="link"
    routerLinkActive="link--active">Страница для юзеров</a>
  <a
    routerLink="guest_page"
    class="link"
    routerLinkActive="link--active">Страница для гостей</a>
</div>

