a
  text-decoration: none


.link
  &--active
    border-bottom: 2px solid blue

.wrapper
  &--links
    display: flex
    flex-direction: row
    column-gap: 30px
    margin-top: 50px
    margin-bottom: 50px
