<form
	[formGroup]="form"
	class="form">
	<label>
		<div class = "wrapper__select">
			<select  formControlName="district" size="1">
				<option class="placeholder" value="" disabled selected style="display:none;">Район земельного участка</option>
				<option value="1">1 регион</option>
				<option value="2">2 регион</option>
				<option value="3">3 регион</option>
			</select>
		</div>
	</label>
</form>
