<blockquote>
	Show error message for 5 seconds if login has failed.

	<p><strong>Bonus task:</strong></p>
	Show user name instead of button upon successful login and disable button
	during server request.
</blockquote>
<p class="error" *ngIf="error">
	{{error}}
</p>

<p>
	<button (click)="click()" [disabled]="disabledBtn">{{ name ? name : 'Submit'}}</button>
</p>
