<label class="input--wrapper" [class.invalid] = 'invalid'>
	<input *ngIf="hasMaskNumber"
		   [type] = "type"
		   [placeholder] = "placeholder"
		   class = "input"
		   [imask]="maskVal"
		   [formControl]= "input"
		   (change)="onChange(input.value)"
	>
	<input *ngIf="!hasMaskNumber"
		   [type] = "type"
		   [placeholder] = "placeholder"
		   [formControl] = "input"
		   (change)="onChange(input.value)"
		   appRefactorSpace
	>
	<app-icon name="info" [size]="'20px'"></app-icon>
</label>
