@import "../../../styles/mixins"

.input
	&--wrapper
		border: 1px solid rgba($c-main, 0.16)
		border-radius: 8px
		padding: 20px 20px 20px 16px

		display: flex
		flex-direction: row
		align-items: center
		justify-content: space-between
		@include text-14

.invalid
	border: 2px solid rgba(red, 0.16)
