<blockquote>
	Create a countdown and a button to restart it
</blockquote>

<ng-container *ngIf='time'>
	{{currentTime.minutes}}:{{currentTime.seconds}}
</ng-container>

<p>
	<button (click)="start()">Запустить обратный отсчет</button>
	<button (click)="restart()">Рестарт</button>
</p>
