@import "../../../styles/mixins"

.wrapper
	display: flex
	column-gap: 6px
	align-items: center
	&--btns
		display: flex
		flex-direction: column
		row-gap: 4px
.input
	width: 100%
	padding: 18px 42px 20px 16px
	border: 1px solid rgba($c-main, 0.16)
	border-radius: 8px

input
	display: block
	width: 100%

.btn
	background: rgba($c-main, 0.04)
	border-radius: 8px
	padding: 7.25px

.error
	border: 1px solid red
