
<div class="wrapper">
	<label class="input"
	[class.error]="invalid">
		<input type="number"
			   [placeholder]="placeholder"
			   [formControl]="counter"
			   (change)="changeValue(counter.value)">
	</label>
	<div class="wrapper--btns">
		<button class="btn" (click)="increaseValue(1)">
			<app-icon name="plus" size="16px"></app-icon>
		</button>
		<button class="btn" (click)="increaseValue(-1)">
			<app-icon name="minus" size="16px"></app-icon>
		</button>
	</div>
</div>
