/* You can add global styles to this file, and also import other style files */


input
  padding: 10px
  border-radius: 8px
  border: 1px solid black

button
  border: 1px solid black
  background-color: transparent
  padding: 10px
  border-radius: 8px
  &:hover
    background-color: tan
