<button class="btn"
		[class.btn--primary]="status === 'PRIMARY'"
		[class.btn--secondary]="status === 'SECONDARY'"
		[class.btn--thirty]="status === 'THIRTY'"
		[disabled]='!active'
		[class.btn--secondary--active]='active && status === "SECONDARY"'
		[class.btn--reverse]="reverse"
>
	<app-icon [name]="name" [size]="size"></app-icon>
	<p>{{text}}</p>
</button>
