@import "../../../styles/mixins"

.btn
	display: flex
	align-items: center
	border-radius: 8px
	@include text-16
	&--primary
		column-gap: 4px
		color: rgb($c-main, 0.8)
	&--secondary
		column-gap: 8px
		padding: 12px 24px 12px 20px

		background: $c-dark-gray
		color: $c-main
		&--active
			background: $c-blue
			color: white
	&--thirty
		padding: 8px 20px
		color: $c-blue
		column-gap: 4px

		display: flex
		align-items: center
	&--reverse
		flex-direction: row-reverse


