<header>
	<section class="header__main__info__wrapper">
		<div class="header__wrapper">
			<p class="logo">Логотип</p>
			<div class="auth__info">
				<div class="auth__info__user">
					<app-button-with-icon name="user" size="24px" text="Иванов К."></app-button-with-icon>
				</div>
				<app-icon name="notion" size="40px"></app-icon>
				<app-icon name="sign_out" size="40px"></app-icon>
			</div>
		</div>
	</section>
	<section class="header__navigation__wrapper">
		<nav>
			<a routerLink="/home" class="link" routerLinkActive="link--active">Главная</a>
			<a routerLink="/my_statements" class="link" routerLinkActive="link--active">Мои заявления</a>
			<a routerLink="/check" class="link" routerLinkActive="link--active">Проверка участка</a>
			<a routerLink="/services" class="link" routerLinkActive="link--active">Услуги</a>
			<a routerLink="/support" class="link" routerLinkActive="link--active">Поддержка</a>
		</nav>
	</section>
</header>
