@import "../../styles/mixins.sass"

\:host
	display: block

nav
	display: flex
	flex-direction: row
	column-gap: 24px

.link
	color: rgba($c-main, 0.64)

	&--active
		padding-bottom: 19px
		border-bottom: 3px solid $c-blue
		text-decoration: none

nav, .header__wrapper
	max-width: 1180px
	margin: 0 auto

.header
	&__main__info
		&__wrapper
			height: 64px
			box-shadow: 0 2px 8px rgba($c-main, 0.12)

			display: flex
			align-items: center

	&__navigation
		&__wrapper
			height: 62px
			background: $c-white

	&__wrapper
		display: flex
		justify-content: space-between
		align-items: center
		width: 100%

.btn
	&__svg
		width: 20px
		height: 20px

nav
	padding-top: 22px

.auth
	&__info
		width: 212px
		height: 40px
		display: flex
		align-items: center

		&__user
			display: flex
			flex-direction: row
			column-gap: 4px

			@include text-14
			color: rgba($c-main, 0.8)

