@import "colors"

@mixin text-10
	font-weight: 500
	font-size: 10px
	line-height: 12px

@mixin text-14
	font-size: 14px
	line-height: 20px

@mixin text-16
	font-size: 16px
	line-height: 24px
	font-weight: 500

@mixin text-18
	font-size: 18px
	line-height: 24px
	font-weight: 500

@mixin text-28
	font-size: 28px
	line-height: 32px

@mixin text-32
	font-size: 32px
	line-height: 40px
