@import "../../../styles/mixins"

.textarea
	&--wrapper
		height: 100px
		border: 1px solid rgba($c-main, 0.16)
		border-radius: 8px
		padding: 20px 16px
		resize: none
		width: 100%

.form
	display: flex
	flex-direction: column
	row-gap: 24px

select
	appearance: none
	background-color: transparent
	border: none
	padding: 0 1em 0 0
	margin: 0
	width: 100%
	font-family: inherit
	font-size: inherit
	cursor: inherit
	line-height: inherit
	outline: none

.wrapper
	&__select
		width: 100%
		border-radius: 8px
		border: 1px solid rgba($c-main, 0.16)
		padding: 19px 16px
		@include text-16
		background-color: transparent
		display: flex
		&::after
			content: ""
			width: 24px
			height: 24px
			background: url("/assets/img/select_arrow.svg")

.error
	@include text-14
	color: red
