<div *ngFor="let option of arrayRadio" (click)="onChange(option.value)" class="wrapper">
	<label class="label"
		   [class.primary] = "status === 'PRIMARY'"
		   [class.secondary] = "status === 'SECONDARY'">
		<input type="radio"/>
		<div class="label__sign"
			 [class.label__sign--active]="option.value === innerValue"
		>
			<ng-container *ngIf="option.value === innerValue && status === 'SECONDARY'">
				<app-icon name="check" [size]="'12px'"></app-icon>
			</ng-container>
		</div>
		<p class="item__label">
			{{ option.label }}
		</p>
	</label>
</div>
