@import "../../../styles/mixins"

.wrapper
	display: flex
	flex-direction: column
	height: auto
	&:not(:first-child)
		margin-top: 24px

.primary
	.label__sign
		border-radius: 50%
		border: 1.5px solid rgba($c-main, 0.4)
		&--active
			border: 5px solid $c-blue

.secondary
	.label__sign
		display: flex
		justify-content: center
		border-radius: 4px
		&--active
			background-color: $c-blue
.label
	padding: 16px
	background: $c-white
	border-radius: 8px

	display: flex
	flex-direction: row
	column-gap: 8px
	align-items: center
	&__sign
		width: 18px
		height: 18px
		background: white
		border: 1.5px solid rgba($c-main, 0.4)
		flex-shrink: 0
		&--active
			width: 18px
			height: 18px
			background: white

.active
	background-color: $c-blue-light
	color: $c-blue
