.wrapper
  &--form
    display: flex
    flex-direction: column

    width: 400px
    border: 1px solid black
    padding: 50px
    row-gap: 10px
  &--links
    display: flex
    flex-direction: column
    row-gap: 30px
    margin-top: 50px
    width: 150px




