<form [formGroup]="form"
	  class="wrapper--form">
	<input
		type="text"
		placeholder="Login"
		formControlName="login">
	<input
		type="text"
		placeholder="Password"
		formControlName="password">
	<button
		type="submit"
		(click)="login('USER')">Войти как пользователь
	</button>
	<button
		type="submit"
		(click)="login('ADMIN')">Войти как админ
	</button>
	<button
		type="submit"
		(click)="login('GUEST')">Войти как гость
	</button>
</form>
