<h3 class="title">Услуга</h3>
<div class="wrapper">
	<div class="item">
		<app-icon name="address" size="28px"></app-icon>
		<p>Присвоение адреса</p>
	</div>
	<div class="item">
		<app-icon name="success" size="20px"></app-icon>
		<p>Информация о&nbsp;заявителе</p>
	</div>
	<div class="item">
		<app-icon name="error" size="20px"></app-icon>
		<p>Сведения об&nbsp;объекте адресации</p>
	</div>
	<div class="item">
		<app-icon name="error" size="20px"></app-icon>
		<p>Сведения о&nbsp;праве застройщика
			на&nbsp;объект адресации</p>
	</div>
	<div class="item">
		<app-icon name="error" size="20px"></app-icon>
		<p>Документы</p>
	</div>
	<div class="item">
		<app-icon name="error" size="20px"></app-icon>
		<p>Получение результата</p>
	</div>
	<div class="item">
		<app-icon name="error" size="20px"></app-icon>
		<p>Отправка на&nbsp;согласование</p>
	</div>

</div>
