@import "../../styles/mixins"

.title
	@include text-10
	text-transform: uppercase
	color: rgb($c-main, 0.48)

.item
	display: flex
	flex-direction: row
	column-gap: 16px
	align-items: center
	color: $c-main
	@include text-14

.wrapper
	display: flex
	flex-direction: column
	row-gap: 16px

	margin-top: 20px
