@import "../../../styles/mixins"

.card
	&__wrapper
		width: 72vw
		max-width: 520px
		padding: 32px
		border: 1px solid rgba($c-main, 0.16)
		border-radius: 16px
		margin-bottom: 8px
	&__title
		@include text-18

.form
	margin-top: 24px
	display: flex
	flex-direction: column
	row-gap: 24px

