<article class="card__wrapper">
	<h4 class="card__title">Объединяемый ЗУ {{numberLP === 0 ? '' : '№' + numberLP}}</h4>
	<form class="form" [formGroup]="form">
		<app-input-with-icon
			formControlName="number"
			[placeholder]="'Кадастровый номер'"
			[hasMaskNumber]="true"
			[invalid]="valid('number')"
		></app-input-with-icon>

		<app-input-with-icon
			formControlName="address"
			[placeholder]="'Адрес'"
			[invalid]="valid('address')"
		></app-input-with-icon>
	</form>
</article>
