<app-header></app-header>
<main>
	<app-button-with-icon name="later" size="20px" text="Вернуться назад"></app-button-with-icon>
	<section class="forms__wrapper">
		<article class="progress__wrapper">
			<app-progress-bar></app-progress-bar>
		</article>

		<article class="main__form__wrapper">
			<h1 class="title__main">Присвоение адреса</h1>
			<button class="status">Ожидает отправки</button>

			<form [formGroup]="mainForm">

				<h2 class="title__categories">Сведения об&nbsp;объекте адресации</h2>
				<app-choose-building-form
					[formControlName]="'building'"
					[arr]="arrChooseBuilding"
					[status]="'SECONDARY'"
					(statusForm)="changeBuilding($event)"></app-choose-building-form>

				<h2 class="title__categories">{{buildingTitle}}</h2>
				<app-choose-building-form
					[formControlName]="'addressType'"
					[arr]="typeOfAddressing"
					(statusForm)="changeTypeOfAddressing($event)"
					[title]="'Вид адресации'">
				</app-choose-building-form>

				<h2 class="title__categories">{{typeBuildingTitle}}</h2>
				<ng-container>
					<ng-container *ngIf="index == 2 || index == 3 || index == 5 || index === 6">
						<div class="landPort">
							<app-input-counter
								[formControlName]="'landPort'"
								[placeholder]="'Количество образуемых земельных участков'"
								[invalid]="mainForm.controls['landPort'].invalid && mainForm.controls['landPort'].touched"
							></app-input-counter>
						</div>
					</ng-container>

					<ng-container *ngIf="index === 1">
						<app-number-address-form
							[form]="mainForm"></app-number-address-form>
					</ng-container>

					<ng-container *ngIf="index === 2">
						<app-district-form
							[form]="mainForm"></app-district-form>
					</ng-container>

					<ng-container *ngIf="index === 3 || index === 5">
						<app-number-address-form
							[form]="mainForm"></app-number-address-form>
					</ng-container>

					<ng-container *ngIf="index === 4 || index === 6">
						<app-land-ports-form [form] = 'mainForm'></app-land-ports-form>
					</ng-container>

					<ng-container *ngIf="index === 2 || index === 1">
						<textarea placeholder="Дополнительная информация" class="textarea" formControlName="addition">
						</textarea>
						<p class="textarea__text">Необязательное поле</p>
					</ng-container>
				</ng-container>
			</form>
			<button
				class="btn"
				type="submit"
				[class.btn--disabled] = '!mainForm.valid'
				[disabled]="!mainForm.valid">Отправить
			</button>
		</article>
	</section>

</main>
<app-footer></app-footer>



