@import "../../styles/mixins"

\:host
	display: block

main
	max-width: 1180px
	margin: 52px auto 120px auto

.forms
	&__wrapper
		display: flex
		flex-direction: row
		column-gap: 80px
		margin-top: 40px

.progress
	&__wrapper
		height: 368px
		width: 400px
		box-shadow: 0 4px 24px rgba($c-shadow, 0.12)
		border-radius: 8px
		padding: 24px 24px 28px 20px

.main
	&__form
		&__wrapper
			width: 520px

.title
	&__main
		@include text-32

	&__categories
		margin-top: 40px
		margin-bottom: 32px
		@include text-28

.status
	background: rgba($c-orange, 0.1)
	border-radius: 4px
	padding: 6px
	color: rgba($c-orange, 1)
	margin-top: 20px
	@include text-16
h1, h2
	color: $c-main
	font-weight: 600

.btn
	margin-top: 40px
	padding: 12px 24px 12px 20px
	background: $c-blue
	color: white
	border-radius: 8px
	&--disabled
		background-color: $c-white
		color: $c-main

.textarea
	height: 100px
	border: 1px solid rgba($c-main, 0.16)
	border-radius: 8px
	padding: 20px 16px
	margin-top: 24px
	resize: none
	width: 100%
	&__text
		color: rgba($c-main, 0.4)
		margin-left: 16px
		margin-top: 8px
		@include text-14
		&::placeholder
			color: rgba($c-main, 0.4)

.landPort
	margin-bottom: 24px
