/* You can add global styles to this file, and also import other style files */
@charset "utf-8"
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Inter:wght@400;700&display=swap')

*
	box-sizing: border-box

*
	font-family: Inter, sans-serif
	box-sizing: border-box

body, div,
dl, dt, dd,
ul, ol, li,
h1, h2, h3, h4, h5, h6,
pre, code,
form, fieldset, legend, input, button, textarea,
p, blockquote,
th, td
	margin: 0
	padding: 0

table
	border-collapse: collapse
	border-spacing: 0

fieldset, img
	border: 0

address, caption, cite, code, em, strong, th, var, optgroup
	font-style: normal
	font-weight: normal

del, ins
	text-decoration: none

ol, ul, li
	list-style: none

caption, th
	text-align: left

h1, h2, h3, h4, h5, h6
	font-size: 100%
	font-weight: normal

b, strong
	font-weight: 600

q:before, q:after
	content: ' '

abbr, acronym
	border: 0
	font-variant: normal

a
	color: inherit
	text-decoration: none

button, a
	cursor: pointer

textarea, input, button, a
	font: inherit
	background: none
	outline: none
	border: none
	-webkit-appearance: none

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
	-webkit-appearance: none
	margin: 0


input[type=number]
	-moz-appearance: textfield

input:-webkit-autofill
	-webkit-box-shadow: 0 0 0 1000px white inset

input, textarea
	&:invalid
		box-shadow: none
