<div class='cdk-virtual-scroll-data-source-example'>
	<table>
		<cdk-virtual-scroll-viewport orientation='horizontal'
		                             itemSize='50'
		                             class='example-viewport'>
			<th *cdkVirtualFor='let item of items'>
				<div
				     class='example-item'>{{item}}
				</div>
				<tr>
					<p>
					какая-то строчка
					</p>
					<input type='text'>
				</tr>
			</th>
		</cdk-virtual-scroll-viewport>
	</table>

</div>
