.cdk-virtual-scroll-data-source-example .example-viewport
	height: 400px
	width: 70vw
	border: 1px solid black
	margin: 40px auto

table
	margin: 0 auto

.cdk-virtual-scroll-data-source-example .example-viewport .cdk-virtual-scroll-content-wrapper
	display: flex
	flex-direction: row

.cdk-virtual-scroll-data-source-example .example-item
	width: 100%


th
	border: 1px solid black
