.progress
	appearance: none
	border: 1px #ccc solid
	height: 12px
	width: 200px
	border-radius: 16px

	&::-webkit-progress-bar
		background: rgba(238, 238, 238, 0.5)
		border-radius: 16px

	&::-webkit-progress-value
		background: #4989d1
		border-radius: 16px
		box-shadow: 0 0 8px #4989d1

	&::-moz-progress-bar
		background: #4989d1
		border-radius: 16px
		box-shadow: 0 0 16px #4989d1

.button
	display: block
	margin: 20px 0

p
	margin: 8px 0
