<blockquote>
	<p>
		Here you have <code>loadingService</code> with <code>load</code> method.
	</p>

	<p>
		Method emits <code>number</code> of % loaded or <code>string</code> with final result.
	</p>

	<p>
		{{perCent}}
	</p>
</blockquote>

<button class="button" (click)="onButtonClick()">
	Start loading
</button>

<p *ngIf="result; else progress">
	{{'final result'}}
</p>

<ng-template #progress>
	<ng-template [ngIf]='loading'>
		<progress class="progress" [max]="100" [value]="perCent"></progress>
		<div class="loading">Loading...</div>
	</ng-template>
</ng-template>

